.tableArea{
    padding:0 .5rem;
}
.latestNews {
    background: #fff;
    padding: 15px;
}
.latestNews h4{
    padding-bottom: 10px;
}
.table td, .table th{
    padding: .5rem;
    font-size: 12px;
}
.details_ad {
    margin: 2px 0px;
    padding: 0px 5px;
    font-size: 12px;
    background: green;
    color: #fff;
    border: none;
    font-weight: 700;
}
.paid_ad {
    margin: 2px 0px;
    padding: 0px 5px;
    font-size: 12px;
    background: #34D9B8;
    color: #fff;
    border: none;
    font-weight: 700;
}
.unpaid_ad {
    margin: 2px 0px;
    padding: 0px 5px;
    font-size: 12px;
    background: #FF637D;
    color: #fff;
    border: none;
    font-weight: 700;
}
.bookingTable{
    padding: 15px;
}
.inquery_lay {
    display: flex;
    border: 1px solid #a5a5a5;
    padding: 5px;
    border-radius: 5px;
    margin: 2px 0;
} 
.inquery_lay > div > img {
    height: 50px;
    width: 50px;
    padding: 3px;
    margin: 0px 3px 0 0;
}
.inquery_lay h5{
    font-weight: bold;
    color: #5f6163;
}
.inquery_lay p{
    font-size: 15px;
    color: #51585f;
}
.inqueryDate{
    font-size:13px !important;
    color: #a5a5a5 !important;
}
.btn_see{
    padding: 2px 10px;
    border: 1px solid ;
}